.checkout_coupon {
    display: block !important;
}
.woocommerce-info {
    display:none;
}
/** END - Open automatically Checkout Coupon **/
/** START - Cart on Checkout **/
.woocommerce .cart-auto-refresh {
    max-width: 100%;
    flex-basis: 100%;
}
.woocommerce .cart-collaterals {
    display:none;
}
.continue-shopping .button-continue-shopping {
    display: none;
}
.woocommerce-checkout-review-order-table .cart_item {
    display:none;
}
.woocommerce-checkout-review-order-table thead {
    display:none;
}
#order_review_heading {
    display:none;
}
/** END - Cart on Checkout **/
/** Customize Fields of Chechout **/
.fl-labels .form-row input:not([type="checkbox"]), .fl-labels .form-row textarea, .fl-labels .form-row select {
    border-radius: 5px;
    box-shadow: none;
    border-color: #dcdcdc;
}
/** Cart Customize **/
.is-form, button.is-form, input[type='submit'].is-form, input[type='reset'].is-form, input[type='button'].is-form {
    border-radius: 10px;
}