.sku-product-archive {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px!important;
    font-size: 10px;
    font-weight: bold;
}

.sku-product-page {
    margin: 0px;
    font-size: 16px;
}

.stock {
    font-size: 12px;
    margin: 0px;
}

.inventory-info-wrapper > div > .stock {
    font-size: 16px;
    margin: 0px;
}

.inventory-info-wrapper > div > .stock {
    font-size: 16px;
    margin: 0px;
}

.important-product-info > div {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

div > div.product-price-container.is-larger > .price-wrapper .price  {
    margin-bottom: 10px;
}

.box-text-products > div.price-wrapper > .sku-product-page {
    color: rgba(0, 0, 0, 1);
    font-size: 10px;
}

div.product-price-container.is-larger > div > p > del > span.product-tax.product-tax-on > span,
div.product-price-container.is-larger > div > p > ins > span.product-tax.product-tax-on > span.amount {
    opacity: unset;
    color: unset;
}

.sku-product-page > .stock {
    font-size: 16px;
}

.box-image .out-of-stock-label {
    display: none;
}

.stock-status-wrapper {
    display: flex;
    align-items: center;
}

.stock-status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.stock-status-indicator.in-stock {
    background-color: #24A148;
}

.stock-status-indicator.out-of-stock {
    background-color: #da1e28;
}

.stock-status-indicator.on-backorder, .stock-status-indicator.custom-order {
    background-color: #f1c21b;
}